* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffcb0b;
  padding-left: 120px;
  height: 80px;
}

.container {
  background-color: chartreuse;
  border-radius: 25px;
  padding: 20px;
}

.boarding_pass {
  background-color: brown;
  padding: 20px;
}