* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffcb0b;
  padding-left: 120px;
  height: 80px;
}

.container {
  background-color: #ffcb0b;
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
}

.title {
  background-color: aqua;
  font-size: 1.9rem;
  padding: 20px;
  border-radius: 25px;
  font-weight: 700;

}

.boarding_pass {
  margin-top: 20px;
  /* background-color: brown; */
  padding: 20px;
  border-radius: 22px;
  display: flex;
  justify-content: space-around;
}

.card {
  margin-left: 15px;
  border-radius: 25px;
  font-size: 1.05rem;
}

.card-title {
  text-align: center;
}

.next-btn {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 100px;
  padding-right: 30px;
}

.next-btns {
  width: 200px;
  height: 50px;
}