* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffcb0b;
    padding-left: 120px;
    height: 80px;
}

.collapse {
    padding-left: 70px;
}

.navbar-nav {
    padding-left: 80px;
}

.nav-item {
    padding-left: 120px;
}

.container {
    margin: 130px;
    background-color: #ffcb0b;
    height: 350px;
    border-radius: 35px;
}

.trip {
    padding: 60px 60px 0 50px;

    display: flex;
    justify-content: space-between;
    width: 320px;
}

.trip-btn {
    width: 130px;
    border-radius: 15px;
    height: 50px;
    margin-left: 20px;
}

.flight-input {
    display: flex;
    margin: 35px 20px 20px 20px;
    justify-content: space-between;
}

.select-from {
    width: 200px;
}

.select-to {
    width: 200px;
}

.input-select {
    margin-top: 10px;
}

.desc-label {
    margin-left: 10px;
}

.submit {
    display: flex;
    justify-content: right;
    margin-right: 70px;
    margin-top: 50px;
}

.submit-btn {
    width: 130px;
    height: 40px;
}

.one-way {
    width: 200px;
}

.flight-input-one-way {
    display: flex;
    justify-content: space-between;
    margin: 50px 60px 20px 60px;
}

.container-one-way {
    margin: 130px;
    background-color: #ffcb0b;
    height: 350px;
    border-radius: 35px;
}