* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffcc00;
    padding-left: 120px;
    height: 80px;
}

.collapse {
    padding-left: 70px;
}

.navbar-nav {
    padding-left: 80px;
}

.nav-item {
    padding-left: 120px;
}

.container-one-way {
    margin: 130px;
    background-color: #ffcc00;
    height: 350px;
    border-radius: 35px;
}

.trip {
    padding: 60px 60px 0 50px;

    display: flex;
    justify-content: space-between;
    width: 320px;
}

.trip-btn {
    width: 130px;
    border-radius: 15px;
    height: 50px;
    margin-left: 20px;
    background-color: aqua;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
}

.trip-btn:hover {
    background-color: #4a0dcf;
    color: #ffffff;
}

.one-btn {
    width: 130px;
    border-radius: 15px;
    height: 50px;
    margin-left: 20px;
    background-color: #8f068f;
    color: #ffffff;
    outline: none;
    border: none;
}

.one-btn:hover {
    background-color: #8f068f;
    color: #ffffff;
}

.flight-input {
    margin: 35px 60px 20px 60px;
    display: flex;
    justify-content: space-between;
}

.select-from {
    width: 200px;
}

.select-to {
    width: 200px;
}

.input-select {
    margin-top: 10px;
}

.desc-label {
    margin-left: 10px;
}

.submit-btn {
    width: 145px;
    height: 50px;
    background-color: #18b200;
    border-radius: 25px;
    color: #fff;
    outline: none;
    border: none;
}

.submit-btn:hover {
    background-color: #18b200;
    color: #fff;
      
}

.submit {
    margin-top: 50px;
    margin-left: 1030px;
}