* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffcb0b;
    padding-left: 120px;
    height: 80px;
}

.reservation-container{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
    width: 1100;

}

.reservation {
    background-color: yellow;
    border-radius: 25px;
    padding: 30px;
    height: 300px;
}

.flight
{
    background-color: red;
    border-radius: 25px;
    padding: 30px;
}
