* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffcb0b;
    padding-left: 120px;
    height: 80px;
}

.container {
    width: 100%;
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
}

.one-way-depart-container {
    height: auto;
    background-color: #ffcb0b;
    padding-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

.one-way-depart-label, .one-way-depart-labels {
    padding-left: 10px;
    font-size: 1.85rem;
    padding: 15px;
    margin-left: 20px;
}

.one-way-origin-destination {
    margin-top: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto;

}

.one-way-flight-detail {
    background-color: #000;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 25px;
    padding-left: 45px;
    border-radius: 25px;
    justify-content: space-around;
}

.one-way-depart-time-label, .one-way-arrive-time-label, .one-way-flight-number-label, .one-way-aircraft_number-label, .one-way-cost-label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.choose-flight-btn {
    width: 120px;
} 

.one-way-flight-detail-item {
    width: 175px;
    height: 40px;
    padding: 5px;
}

.next-btn {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 100px;
    margin-top: 50px;
    padding-right: 30px;
}

.next-btns {
    width: 200px;
    height: 50px;
}

.one-way-flight-detail-each-item {
    padding: 20px;
}

.one-way-flight-detail-each-item div {
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 15px;
    border-radius: 25px;
    justify-content:space-around;
}

.one-way-flight-detail-each-item .btn {
    padding: 10px;
    margin-right: -50px;
    border-radius: 15px;
    width: 100px;
}

.flight-detail-items-i {
    color: #000;
}
