
* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffcb0b;
    padding-left: 120px;
    height: 80px;
}

.container {
    /* background-color: aqua; */
    width: 100%;
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
}

.depart-container {
    height: auto;
    background-color: #ffcb0b;
    padding-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

.depart-label, .return-label {
    padding-left: 10px;
    font-size: 1.85rem;
    padding: 15px;
}

.origin-destination, .destination-origin {
    /* background-color: greenyellow; */
    margin-top: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto;

}

.flight-label {
    font-size: 1.4rem;
    font-weight:500;
}

.flight-detail {
    background-color: #000;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 25px;
    justify-content:space-around;
}

.depart-time-label, .arrive-time-label, .flight-number-label, .aircraft_number-label, .cost-label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.flight-detail-item {
    width: 175px;
    height: 40px;
    padding: 5px;
}

.return-container {
    height: auto;
    background-color: #ffcb0b;
    padding-top: 20px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 15px;
}

.next-btn {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 100px;
    margin-top: 50px;
    padding-right: 30px;
}

.next-btns {
    width: 200px;
    height: 50px;
}

.flight-detail-each-item, .flight-return-detail-each-item {
    /* background-color: cadetblue; */
    padding: 20px;
}

.flight-detail-each-item div, .flight-return-detail-each-item div {
    /* background-color:orangered;*/
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 25px;
    justify-content:space-around;
}

.flight-detail-each-item .btn , .flight-return-detail-each-item .btn{
    /* background-color: black; */
    /* background-color: greenyellow; */
    padding: 10px;
    margin-right: -30px;
    /* border: none; */
    border-radius: 15px;
}

.flight-detail-items-i {
    color: #000;
}
